@mixin dFlex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Main container */
.containerMain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  width: var(--width);
  height: 100%;

  /* header main section */
  .text {
    @include dFlex();
    grid-column: 1/6;
    height: 3rem;

    p {
      font-weight: bold;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }

  /* Cards section */
  .recommended {
    width: 100%;
    height: 100%;
    grid-column: 1/5;

    .cards {
      width: 100%;
      height: 90vh;
      overflow-y: scroll;
    }
    & ::-webkit-scrollbar {
      display: none;
    }
  }

  /* Links section */
  .more {
    min-width: 300px;
    height: 100%;
    padding: 0 10px;
    grid-column: 5/6;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .focus {
      color: red;
      &::before {
        content: "not implemented yet";
        color: #0f0;
        display: block;
        position: absolute;
        top: 0%;
        text-shadow: 0 0 5px #ffffff;
        background-color: #000000b9;
        border-radius: 10px;
        padding: 2% 5%;
      }
    }

    div {
      padding: 2% 5%;
      position: relative;
      a {
        text-decoration: none;
        color: var(--color);
        &:hover {
          text-shadow: 0 0 5px #fdf906;
        }
      }
      p {
        cursor: pointer;
        padding: 5% 0;
        border-bottom: 1px solid #555;
        &:hover {
          text-shadow: 0 0 10px #555;
        }
      }
      svg {
        color: #2ddb4a;
        margin-right: 0.3rem;
      }
    }

    .login {
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a {
        text-decoration: none;
        color: inherit;
        text-shadow: 0 0 5px #2ddb4a, 0 0 10px #2ddb4a;
      }
    }

    .search {
      @include dFlex();
      margin: 0 5% 5%;
      height: 2rem;
      background-color: #fff;
      input {
        border: none;
        width: 90%;
        outline: none;
      }
      svg {
        color: #000;
        margin: 0;
      }
    }
  }
}

// querys
@media (max-width: 700px) {
  .containerMain {
    .more {
      min-width: 250px;
    }
    .text {
      p,
      span {
        font-size: 0.7rem;
      }
    }
  }

  @media (max-width: 500px) {
    .containerMain {
        gap: .5rem;
      .more {
        min-width: 200px;
      }
    }

    @media (max-width: 420px) {
      .containerMain {
        .more {
          min-width: 120px;
          padding-right: 0;
          padding-left: 0;
          h3,
          p {
            font-size: 0.9rem;
          }
          svg {
            font-size: 1rem;
          }
        }
      }
    }
  }
}