/* Cards container */
.cardsContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  align-self: center;
  justify-self: center;

  /* Card */
  .card {
    margin: 0 auto;
    width: 100%;
    height: 350px;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;

    background: rgba(107, 103, 103, 0.25);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    /* Icons */
    .icons {
      width: 90%;
      position: absolute;
      top: 2%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.5rem;

      background: rgba(255, 255, 255, 0.425);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(9px);
      border-radius: 10px;
      -webkit-backdrop-filter: blur(9px);

      div {
        cursor: pointer;
        display: flex;
        width: 50%;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: #1f1e1ed0;

        & > :hover {
          scale: 1.1;
          background-color: #892be27e;
        }
      }

      .avalible {
        justify-content: flex-start;
        padding-left: 0.5rem;
        font-size: 3rem;
        .avalible {
          color: #fcba05cb;
        }
        .unavalible {
          color: #ff8800d3;
        }
      }

      .download {
        color: #df0303b7;
      }
      .like {
        color: #12eafa;
      }
    }
    .textCard {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: fit-content;
      padding: 1rem 0;
      p {
        font-size: 1rem;
        text-align: center;
        width: 100%;
      }
      span {
        text-shadow: 0 0 10px #12eafa;
        width: 95%;
        padding-top: 3%;
        text-align: right;
        font-size: 0.8rem;
        &::before {
          content: "\25b9";
          padding-right: 2%;
        }
      }
    }

    /* Image */
    img {
      width: 80%;
      height: 70%;
      object-fit: fill;
    }
  }
}
