.footerContainer{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

        .body{
            width: var(--width);
            height: 90%;
            padding: 2%;
            color: var(--text-color);
            
            h2{
                span{
                    padding-left: 2%;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
            p{
                text-align: end;
            }
        }
}

@media (max-width: 800px) {
    .footerContainer{
        .body{
            h2{
                span{
                    font-size: .9rem;
                }
            }
            p{
                font-size: .8rem;
            }
        }
    }
}

@media (max-width: 420px) {
    .footerContainer{
        .body{
            h2{
                font-size: 1.3rem;
                span{
                    font-size: .8rem;
                }
            }
            p{
                font-size: .7rem;
            }
        }
    }
}

@media (max-width: 350px) {
    .footerContainer{
        .body{
            flex-direction: column;
            height: 100%;
            h2{
                font-size: 1rem;
                span{
                    font-size: .7rem;
                }
            }
            p{
                font-size: .65rem;
            }
        }
    }
}